.nav__item {
    font-size: 15px;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
}

.nav {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(25, 25, 25, 1);
    height: 80px;
    background: rgb(68, 121, 255);
    border-bottom: 1px solid #fff;
}

.background {
    background: white;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(25, 25, 25, 1);
}

.nav__icon {
    display: flex;
    align-items: center;
    color: #fff;

    h1 {
        font-size: 33px;
        cursor: pointer;
    }
}

.medium__icon {
    svg {
        font-size: 45px;
        margin-right: 8px;
        cursor: pointer;
    }
}



.nav__list__items {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 25px;

}

.nav__wrapper {
    width: 97%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.access {
    padding: 9px 28px 10px;
    outline: none;
    border: none;
    color: #fff;
    background: #000;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .nav__item {
        display: none;
    }

    .access {
        font-size: 13px;
    }
}

@media screen and (max-width: 558px) {
    .access {
        font-size: 13px;
        padding: 10px 25px 10px 25px;
        border-radius: 18px;
    }

    .nav__item {
        display: none;
    }

    main {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .nav__icon {
        padding-left: 10%;
    }

    .nav__wrapper {
        width: 96%;
        margin: 0 auto;
    }

    .medium__icon {
        svg {
            font-size: 35px;
        }
    }

    .access {
        padding: 10px 15px;
        border-radius: 18px;
    }
}

@media screen and (max-width: 330px) {
    .nav__wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .access {
        padding: 3px 10px;
        font-size: 12px;
    }

    .nav__icon {
        width: 10%;
    }
}

@media screen and (max-width: 296px) {
    .access {
        display: none;
    }
}