.nav__item {
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}

.access {
    padding: 9px 28px 10px;
    outline: none;
    border: none;
    color: #fff;
    background: #000;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}