.hero__wrapper {
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    padding-left: 17%;
    // background: rgb(241, 182, 52);
    background: orange;
    border-bottom: 1px solid rgba(25, 25, 25, 1);
}

.hero__curious {
    margin-top: 100px;
    margin-bottom: 40px;

    h1 {
        padding-bottom: 30px;
        font-size: 106px;
        color: #000000;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: -0.05em;
        font-weight: 400;
    }

    div {
        padding-bottom: 40px;
        font-size: 24px;
        color: #242424;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.hero__button {
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 450;
    background: rgba(25, 25, 25, 1);
    border-radius: 20px;
    font-size: 20px;
}

// .animation {
//     margin-top: 100px;
// }


@media screen and (max-width: 1200px) {
    .hero__wrapper {
        padding-left: 4.5%;
    }
}

@media screen and (max-width: 481px) {
    .animation {
        display: none;
    }

    .hero__curious {
        h1 {
            font-size: 70px;
        }
    }
}