.faq__wrapper {
    background: #242424;
    color: #fff;
    // padding: 56px 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;

    h1 {
        font-size: 70px;
        font-weight: 400;
    }
}

@media screen  and (min-width: 300px) {
    .faq__wrapper {
        width: 100%;
    }
}