.faq__wrapper {
    background: #242424;
    color: #fff;
    padding: 56px 32px;
    font-family: 'Times New Roman', Times, serif;

    h1 {
        font-size: 70px;
        font-weight: 400;
    }
}