// .articles {
//     border: 1px solid red;
// }
// @media screen and (max-width: 1200px) {
//     .articles {
//         border: 1px solid red;
//     }
// }
.spinner {
    position: absolute;
    top: 90%;
    left: 40%;
}

@media screen and (max-width: 1280px){
    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .articles {
        width: inherit;
    }
}

@media screen and (max-width: 330px) {
    .articles {
        width: 300px;
    }
}