.home {
    width: 100%;
}

.nav {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgba(25, 25, 25, 1);
    height: 80px;
    background: #ffc61a;
}

.nav__item {
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}

.get__started {
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(25, 25, 25, 1);
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid rgb(243, 242, 242);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
}

.link__item__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.link__item {
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 6px;
}

.article__discover {
    width: 66.5%;
    margin: auto;
    margin-top: 90px;
    display: flex;
}

.background {
    background: white;
    transition: all 0.5s ease;
}

.btn__background {
    background: #1A8917;
}

.nav__wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav__icon {
    display: flex;
    align-items: center;
    margin-right: auto;

    h1 {
        font-size: 33px;
        cursor: pointer;
    }
}

.medium__icon {
    svg {
        font-size: 45px;
        margin-right: 8px;
        cursor: pointer;
    }
}

.nav__list__items {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 25px;
}

.get__started:active {
    animation: bounce 0.7s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}


@media screen and (min-width: 1536px) {
    .nav__wrapper {
        width: 65%;
    }

    .article__discover {
        gap: 70px;
    }

    .articles {
        width: 75%;
    }

    .discover {
        width: 40%;
    }
}

@media screen and (max-width: 1280px) {
    .nav__wrapper {
        width: 90%;
    }

    .article__discover {
        width: 92%;
        display: flex;
        gap: 70px;
    }

    .articles {
        width: 80%;
    }

    .discover {
        width: 40%;
    }

}

@media screen and (max-width: 1200px) {

    .nav__wrapper {
        width: 90%;
    }

    .article__discover {
        width: 91%;
    }

    .discover {
        width: 30%;
    }

    .articles {
        width: 60%;
        margin-right: 50px;
    }
}

@media screen and (max-width: 829px) {
    .article__discover {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .link__item {
        display: none;
    }

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 727px) {
    .nav__item {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .article__discover {
        width: 88%;
        display: flex;
        flex-direction: column;
    }

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .article__discover {
        width: 90%;
    }
    

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .nav__item {
        display: none;
    }

    .article__discover {
        display: flex;
        flex-direction: column-reverse;
    }

    .link__item {
        display: none;
    }

}


@media screen and (max-width: 480px) {
    .nav__item {
        display: none;
    }

    .article__discover {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }

    .link__item__wrapper {
        display: none;
    }

    .link__item {
        display: none;
    }

    .articles {
        width: 98%;
    }
    
    .get__started {
        padding: 10px 20px;
    }

    .nav__icon {
        h1 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 375px) {
    .nav__wrapper {
        width: 100%;
        padding: 0 5%;
    }

    .get__started {
        padding: 12px 15px;
        font-size: 10px;
        font-weight: 500;
    }

    .article__discover {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .discover {
        width: 100%;
    }
}



@media screen and (max-width: 330px) {
    .nav__wrapper {
        width: 100%;
    }

    .article__discover {
        width: 90%;
        flex-direction: column-reverse;
    }

    .articles { 
        width: 100%;
        margin: 0 auto;
    }

}


@media screen and (max-width: 296px) {
    .nav__wrapper {
        width: 97%;
    }

    .medium__icon {
        svg {
            font-size: 35px;
        }
    }

    .nav__icon {
        h1 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 280px) {
    .nav__wrapper { 
        width: 100%;
    }

    .get__started {
        display: none;
    }
}