.nav__item {
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}

.get__started {
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(25, 25, 25, 1);
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
}

// .article__discover__wrapper { 
//     // border: 1px solid green;
// }

.article__discover {
    // border: 1px solid red;
    width: 66.5%;
    margin: auto;
    margin-top: 90px;

    display: flex;

}

.articles {
    width: 73%;
}

.discover {
    width: 27%;
}

@media screen and (max-width: 540px) {
    .nav__item {
        display: none;
    }
}


@media screen and (max-width: 481px) {
    .nav__item {
        display: none;
    }

}