.nav__item {
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}

.get__started {
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(25, 25, 25, 1);
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}


.article__discover {
    // border: 1px solid red;
    width: 66.5%;
    margin: auto;
    margin-top: 90px;

    display: flex;

}

.articles {
    width: 73%;
}

.discover {
    width: 27%;
}

@media screen and (max-width: 1200px) {
    .article__discover {
        width: 91%;
    }

    .discover {
        width: 30%;
    }

    .articles {
        width: 60%;
        margin-right: 50px;
    }
}

@media screen and (max-width: 829px) {
    .article__discover {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 727px) {
    .nav__item {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .article__discover {
        width: 88%;
        display: flex;
        flex-direction: column;
    }

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .article__discover {
        width: 90%;
    }
    

    .discover {
        width: 100%;
    }

    .articles {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .nav__item {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .nav__item {
        display: none;
    }

    .article__discover {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .discover {
        width: 100%;
    }


    .articles {
        width: 100%;
    }

}

@media (max-width: 330px) {
    .get__started {
        padding: 12px 15px;
        font-size: 10px;
        font-weight: 500;
    }

    .article__discover {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-top: 50px;
    }

    .discover {
        width: 100%;
    }
}