.trending__item {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 10px;
}

.trending__item__index {
    font-size: 32px;
    color: #F2F2F2;
    font-weight: 600;
}

.trending__item__content {

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        line-height: 20px;
        cursor: pointer;
        // margin-bottom: 8px;

        div {
            font-size: 13px;
        }
    }

    h4 {
        margin-top: 8px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
}

.trending__item__image {
    width: 20px;
    border-radius: 50%;
}

.trending__item__date__time {
    font-size: 13px;
    color: #6B6B6B;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
}



@media screen and (max-width: 1200px) {

    .trending__item__content {
        div {
            div {
                font-size: 13px;
            }
        }

        h4 {
            font-size: 16px;
        }
    }

    .trending__item {
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 992px) {
    .trending__item {
        width: 48%;
    }

    .trending__item__content {
        h4 {
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 727px) {
    
    .trending__item {
        width: 95%;
    }
}

@media screen and (max-width: 590px) {

    .trending__item {
        width: 95%;
    }
}

@media screen and (max-width: 481px) {
    .trending__item {
        width: 100%;
    }
}