.discover__wrapper {
    position: sticky;
    top: 12%;
    ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.title {
    font-size: 16px;
    color: #242424;
    font-weight: 550;
    margin-bottom: 15px;
}



.tag__item {
    // width: 140px;
    border-radius: 16px;
    text-align: center;
    list-style-type: none;
    font-size: 14px;
    padding: 8px 12px;
    color: #242424;
    background: #F2F2F2;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;

}

.link__item {
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 6px;
}

.link__item__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.see__more {
    font-size: 14px;
    color: #1A8917;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

@media screen and (max-width: 829px) {
    .discover__wrapper {
        position: inherit;
        width: 90%;
    }

    .link__item {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .discover__wrapper {
        position: inherit;
        width: 90%;
    }

    .link__item {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .discover__wrapper {
        ul {
            width: inherit;
        }
    }
}

@media screen and  (max-width: 480px) {
    .see__more {
        width: 100%;
    }

    .link__item {
        display: none;
    }

    .discover__wrapper {
        position: inherit;
        width: 100%;
        ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 330px) {
    .see__more {
        width: 100%;
    }

    .link__item {
        display: none;
    }

    .tag__item {
        width: 46%;
    }

    .discover__wrapper {
        position: inherit;
        ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}