.new__directions {
    background: #bcdfff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.header {
    font-size: 7.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.access {
    padding: 9px 35px 10px;
    outline: none;
    border: none;
    color: #fff;
    background: #000;
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left: 45%;

    transition: all 0.3s ease;
}

.access:hover {
    opacity: 0.85;
}


@media screen and (max-width: 767px) {
    .header {
        font-size: 60px;
        line-height: 55px;
    }

    .access {
        left: 33%;
    }
}

@media screen and (max-width: 480px) {
    .access {
        left: 24%;
    }
}

@media screen and (max-width: 376px) {
    .header {
        font-size: 40px;
        line-height: 30px;
    }

    .access {
        left: 20%;
    }
}


@media screen and (max-width: 296px) {
    .access {
        padding: 8px 32px 10px;
        left: 12%;
    }
}