.article__card__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.article__content {
    width: 80%;

    h1 {
        font-size: 20px;
        color: #242424;
        font-weight: 800;
        text-overflow: ellipsis;
        margin-bottom: 3px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }
}


.header {
    display: flex;
}

.profile__author {
    display: flex;
    align-items: center;
    margin-bottom: 3px;


    span {
        font-size: 13px;
        color: #242424;
        font-weight: 550;
        margin-left: 6px;
        cursor: pointer;
    }
}

.profile__image {
    width: 20px;
    border-radius: 50%;
}

.content {
    font-size: 16px;
    color: #6B6B6B;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    cursor: pointer;
}

.bookmark__dates {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        color: #6B6B6B;
        font-size: 25px;
    }
}

.date__duration__tag__bookmark__svg {
    display: flex;
    align-items: center;

}

.date__duration {
    font-size: 13px;
    color: #6B6B6B;
    font-weight: 400;
    margin-right: 4px;
}

.tag {
    font-size: 13px;
    color: #6B6B6B;
    background: #F2F2F2;
    padding: 8px 8px;
    border-radius: 100px;
    margin-right: auto;

    cursor: pointer;
}

.svg__image {
    width: 20%;
}

.article__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}


@media screen and (min-width: 280px) {
    .article__card__wrapper {
        width: 100%;
        gap: 5px;

    }

    .svg__image {
        width: 30%;
    }

    .article__image {
        width: 100%;
        height: 110px;
    }

    .article__content {
        width: 70%;
        margin: 0 auto;  
        h1 {
            font-size: 15px;
            font-weight: 400;
            font-weight: 800;
        }
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 1280px) {
    .article__card__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .article__card__wrapper {
        margin-right: 0px;
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .article__card__wrapper {
        width: 100%;
    }
}