.article__card__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.article__content {
    width: 80%;

    h1 {
        font-size: 20px;
        color: #242424;
        font-weight: 800;
        text-overflow: ellipsis;
        margin-bottom: 7px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }
}


.profile__author {
    display: flex;
    align-items: center;
    margin-bottom: 8px;


    span {
        font-size: 13px;
        color: #242424;
        font-weight: 550;
        margin-left: 6px;
        cursor: pointer;
    }
}

.profile__image {
    width: 20px;
    border-radius: 50%;
}

.sub__title {
    font-size: 16px;
    color: #6B6B6B;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    cursor: pointer;
}

.bookmark__dates {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        color: #6B6B6B;
        font-size: 25px;
    }
}

.date__duration__tag__bookmark__svg {
    display: flex;
    align-items: center;

}

.date__duration {
    font-size: 13px;
    color: #6B6B6B;
    font-weight: 400;
    margin-right: 4px;
}

.tag {
    font-size: 13px;
    color: #6B6B6B;
    background: #F2F2F2;
    padding: 8px 8px;
    border-radius: 100px;
    margin-right: auto;

    cursor: pointer;
}

.svg__image {
    width: 20%; 

}

.article__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@media screen and (max-width: 1280px) {
    .article__card__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .article__card__wrapper {
        margin-right: 0px;
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .article__card__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .article__card__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .svg__image {
        svg {
            position: absolute;
            left: 60%;
        }
    }
}

@media screen and (max-width: 488px) {
    .article__image {
        width: 100px;
        height: 100px;
    }

    .article__content {
        margin-top: 0px;
    }

    .svg__image {
        svg {
            position: absolute;
            left: 330px;
        }
    }
}


@media screen and (max-width: 480px) {
    .article__card__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .article__image {
        width: 100px;
    }

    .article__content {
        margin-top: 0;
    }

    .svg__image {
        svg {
            position: absolute;
            left: 310px;
        }
    }

    .bookmark__dates {
        svg {
            display: none;
        }
    }
}

@media screen and (max-width: 406px) {
    .svg__image {
        svg {
            position: absolute;
            left: 260px;
        }
    }
}

@media screen and (max-width: 330px) {
    // .article__image {
        
    // }
    
    .article__card__wrapper {
        width: 95%;
    }
    .article__image {
        width: 80px;
    }
}