.write__hero__wrapper {
    position: relative;
    height: 67vh;
    overflow: hidden;
    background: rgba(13, 153, 20, 0.767);
    border-bottom: 1px solid #000;
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 90px;;

    div {
        font-size: 120px;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        line-height: 104px;
        margin-bottom: 30px;
    }

    p {
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 24px;
        color: #fff;
        font-weight: 545;
    }
}

.write__image {
    position: absolute;
    top: -50%;
    right: 10%;
    z-index: -10;
    width: 1230px;
}

.apply {
    padding: 8px 20px;
    font-size: 16px;
    background: rgba(25, 25, 25, 1);
    border-radius: 99em;
    color: #fff;
    border: none;

}


@media screen and (min-width: 1024px) {
    .write__hero__wrapper {
        height: 98vh;
    }
}

@media screen and (min-width: 1280px) {
    .write__hero__wrapper {
        height: 75vh;
    }   
}

@media screen and (min-width: 1536px) {
    .write__hero__wrapper {
        height: 65vh;
    }
}

@media screen and (max-width: 768px) {
    .write__hero__wrapper {
        div {
            font-size: 85px;
            letter-spacing: -0.055em;
            line-height: 88px;
        }
    }
}

@media screen and (max-width: 506px) {
    .write__hero__wrapper {
        div {
            font-size: 48px;
            letter-spacing: -0.04em;
            line-height: 52px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
        }
    }    
}
