.spinner {
    position: absolute;
    top: 20%;
    left: 50%;
}

.search__field {
    margin-right: auto;
}

.user__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    font-size: 19px;
    color: #6B6B6B;
    margin-left: 253%;

    i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        
        svg {
            font-size: 20px;
        }
        
    }
}

.button__wrapper {
    display: flex;
    gap: 20px;
}

.notification {
    font-size: 30px;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        color: #6B6B6B;
    }
}

.user__image {
    border-radius: 50%;
}

.sign__in {
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 500;
    background: white;
}

.sign__up {
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #fff;
    background: #1A8917;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.detail__wrapper {
    width: 38%;
    margin: auto;
    margin-top: 4%;
    height: 30%;
}

.article__title {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
}