.search {
    // width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #242424;
    border-radius: 15px;
    background: #f9f9f9;
    padding: 5px;

    // i {
    //     margin-right: 7px;
    // }
}

.search__icon {
    font-size: 20px;
}

.search__input {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 20px 10px 0;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #f9f9f9;
}

.search__input:focus {
    outline: none;
    border: none;
}


@media screen and (min-width: 200px) {
    .search {
        display: none;
    }

    .search__icon {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .search {
         display: flex;
    } 
    .search__icon {
        font-size: 25px;
    }
 }