.user__page {
    padding: 0;
}

.user__nav {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
}

.medium__search {
    display: flex;
    align-items: center;
}

.search__field {
    margin-right: auto;
}

.user__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    font-size: 19px;
    color: #6B6B6B;

    .user__note {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        
        .search__icon {
            font-size: 20px;
        }

        &:hover {
            color: #000;
            transition: all 0.3s ease;
        }
        
    }
}

.follow,
.discover {
    margin-top: 40px;
    margin-left: 13px;
}

.notification {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: #000;
    }
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        color: #6B6B6B;
    }
}

.user__image {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.user__content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.article__list {
    width: 100%;
    border-right: 1px solid #F2F2F2;
}

.actions {
    width: 88%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #6B6B6B;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    left: 200px;
    background: #fff;
    border-bottom: 1px solid #F2F2F2;


    li {
        list-style-type: none;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            font-size: 20px;
        }
        
        &:hover {
            color: #000;
        }
    }
}

.miscellaneous {
    margin-top: 30px;
    margin-left: 30px;
    width: 25%;
}

.follow__text {
    font-size: 16px;
    color: #242424;
    font-family: var(--font-helvetica);
    margin-bottom: 8px;
}

.saved {
    color: #242424;
    font-size: 14px;
    font-family: var(--font-helvetica);
    margin-left: 13px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    width: max-content;
    padding: 2px 3px;
    border-radius: 2px;
}

.saved:hover {
    background: rgb(206, 204, 204);
    color: #615959;
}

.discover__follow {
    position: sticky;
    top: 10%;
}


@media screen and (min-width: 200px) {
    .user__page {
        width: 100%;
    }

    .user__nav {
        width: 100%;
        padding: 8px 0;
    }

    .medium__search {
        margin-left: 30px;
    }

    .medium__icon {
        font-size: 35px;
        margin-right: auto;
    }
    .user__actions {
        gap: 5px;
    }

    .user__note {
        opacity: 0;
    }

    .note__icon {
        opacity: 0;
    }

    .user__image {
        width: 25%;
        height: 25%;
        margin-right: 0;
    }

    .user__content {
        width: 100%;
    }

    .article__list {
        border-right: 0;
    }

    .actions {
        width: 99%;
        margin-left: 11%;
    }

    .miscellaneous {
        display: none;
    }


    .articles {
        width: 92%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 374px) {
    .user__content {
        width: 92%;
    }

    .articles {
        width: 92%;
    }

    .actions {
        width: 95%;
        margin-left: 0;
    }
}



@media screen and (min-width: 768px) {
    .user__note {
        opacity: 1;
        margin-right: 20px;
    }

    .note__icon {
        opacity: 1;
        font-size: 24px;
    }

    .actions {
        width: 97%;
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px) {

    .user__content {
        gap: 0;
    }
    .miscellaneous {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #F2F2F2;
        padding: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .actions {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1536px) {

    .medium__icon {
        font-size: 45px;
    }

    .user__note {
        opacity: 1;
    }

    .note__icon {
        font-size: 25px;
        opacity: 1;
    }

    .actions {
        margin-left: 4%;
    }

    .user__content {
        width: 70%;
        margin: 0 auto;
    }

    .miscellaneous {
        width: 40%;
    }
}