.input__div {
    border:1px solid #242424;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 13px;
    text-align: left;
    display: flex;
    flex-direction: row;
    // justify-content: ;
    
    cursor: pointer;

    i {
        margin-right: 70px;
        
        svg {
            font-size: 18px;
        }
    }
}

.input__div:nth-child(2n) {
    i {
        color: rgb(98, 98, 231)
    }
}

.user {
    color: rgb(98, 98, 231)
}

.move__text {
    margin-right: 30px;
}