.input__div {
    border: 1px solid rgb(36, 36, 36);
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 13px;
    text-align: left;
    display: flex;
    flex-direction: row;
    
    cursor: pointer;

    i {
        margin-right: 70px;
        
        svg {
            font-size: 18px;
        }
    }
}

.input__div:nth-child(2n) {
    i {
        color: rgb(98, 98, 231)
    }
}

.user {
    color: rgb(98, 98, 231)
}

.move__text {
    margin-right: 30px;
}

@media screen and (min-width: 1024px) {
    .input__div {
        padding: 0;
        padding-left: 2px;
        align-items: center;
        font-size: 12px;

        i {
            margin-right: 5px;
        }

        svg {
            font-size: 12px;
        }
    }
}


@media screen and (min-width: 1536px) {
    .input__div {
        padding: 10px;
        font-size: 20px;

        svg {
            font-size: 25px;
        }
    }
}