.search__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}

.medium__icon {
    margin-right: 18px;
    font-size: 45px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 10px 20px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.user__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    font-size: 19px;
    color: #6B6B6B;

    i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        svg {
            font-size: 20px;
        } 
    }
}

.button__wrapper {
    display: flex;
    gap: 10px;
}

.notification {
    font-size: 30px;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        color: #6B6B6B;
    }
}

.user__image {
    border-radius: 50%;
    width: 30%;
}

.sign__in {
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.sign__up {
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #fff;
    background: #1A8917;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.explore__content__wrapper {
}

.explore__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.explore__input__field__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #F9F9F9;
    border-radius: 40px;
    padding-left: 12px;
}

.search__icon {
    color: #6B6B6B;
}

.explore__input__field {
    border: none;
    outline: none;
    background: #F9F9F9;
    padding: 10px 20px 10px 0;
}

.explore__input__field::placeholder {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.text__arrow__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeecec;
    cursor: pointer;
}

.topic__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #6B6B6B;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.arrow__icon {
    color: #6b6b6b;
}

.explore__topic__wrapper {
    margin-top: 20%;
}

@media screen and (min-width: 200px) {
    .button__wrapper {
        display: none;
    }
    
    .user__image {
        width: 30px;
    }

    .user__actions {
        gap: 8px;
    }

    .medium__icon {
        font-size: 35px;
    }

    .explore__title {
        margin-top: 3%;
    }

    .explore__content__wrapper {
        width: 88%;
        margin: 0 auto;
    }

    .explore__input__field__wrapper {
        margin-top: 10px;
    }

}

@media screen and (min-width: 375px) {
    .medium__icon {
        font-size: 40px;
    }
}



@media screen and (min-width: 768px) {
    .explore__title {
        font-size: 42px;
        line-height: 52px;
        letter-spacing: -0.462px;
    }

    .explore__input__field__wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .explore__content__wrapper {
        width: 95%;
    }

    .explore__input__field__wrapper {
        width: 80%;
        margin: 10px auto;
    }

    .explore__input__field::placeholder {
        font-size: 14px;
    }
}


@media screen and (min-width: 912px) {
    .button__wrapper {
        display: flex;
        margin-left: 10px;
    }

    .detail__wrapper {
        width: 80%;
    }
}


@media screen and (min-width: 1280px) {
    .detail__wrapper {
        width: 60%;
    }

    .explore__title {
        margin-bottom: 30px;
    }

    .explore__input__field__wrapper {
        width: 50%;
    }

    .explore__topic__wrapper {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1536px) {
    .button__wrapper {
        margin-right: 10px;
        margin-left: 13px;
    }

    .detail__wrapper {
        width: 38%;
        margin: auto;
        margin-top: 4%;
    }

    .explore__topic__wrapper {
        width: 70%;
        margin: 4% auto;
    }

    .explore__input__field__wrapper {
        width: 50%;
        
    }
}