.sign__in {
    border: 1px solid #000;
    font-size: 14px;
    color: #000;
    padding: 8px 16px;
    border-radius: 99em;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 15px;
    font-weight: 500;
    cursor: pointer;
}

.sign__up {
    letter-spacing: -0.055em;
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    padding: 8px 16px;
    background: #242424;
    font-size: 14px;
    border-radius: 99em;
    font-weight: 500;
    cursor: pointer;
}