.nav__wrapper {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.story__nav {
    // padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.draft {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    p {
        font-size: 14px;
        color: #000;
    }
}

.publish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;

    p {
        font-size: 30px;
        cursor: pointer;

    }
}

.user__image {
    border-radius: 50%;
    height: 32px;
    cursor: pointer;
}

.publish__btn {
    border: none;
    outline: none;
    background: #1A8917;
    font-size: 15px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 13px;
    cursor: pointer;
}

.publish__btn:hover {
    opacity: 0.8;
}

.quill {
    margin-top: 90px;
}

.title {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.title__field::placeholder {
    font-size: 20px;
}

.text__editor {
    margin-top: 50px;
}

.publish__btn:active {
    animation: bounce 0.7s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}


@media screen and (min-width: 300px) {
    .new__story {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .story__nav {
        width: 95%;
        margin: 0 auto;
    }

    .quill {
        width: 90%;
        margin: 30px auto;
    }

    .draft {
        svg {
            font-size: 43px;
        }

        p {
            font-size: 12px;
        }
    }
    .publish {
        gap: 5px;
    }

    .nav__wrapper {
        width: 95%;
        margin: auto;
        gap: 8px;
    }
}

@media screen and (min-width: 400px) {
    .publish {
        gap: 25px;
    }

    .quill {
        width: 90%;
        margin: 50px auto;
    }
}

@media screen and (min-width: 765px) {
    .quill {
        width: 90%;
        margin: 50px auto;
    }
}


@media screen and (min-width: 1024px) {
    .quill {
        width: 74%;
        margin: 50px auto;
    }
}

@media screen and (min-width: 1280px){
    .story__nav {
        width: 80%;
        margin: 0 auto;
    }

    .quill {
        width: 50%;
        margin: 50px auto;
    }
}

@media screen and (min-width: 1536px) {
    .story__nav {
        width: 60%;
    }

    .quill {
        width: 45%;
    }
}