.nav__item {
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        color: rgb(82, 80, 80);
        font-size: 16px;
    }
}

.nav__list__items {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 25px;
}


@media screen and (min-width: 300px) {
    .nav__item {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav__item {
        display: flex;
    }
}

@media screen and (max-width: 296px) {
    .nav__item {
        display: none;
    }
}