.trending__wrapper {
    margin-top: 50px;
}

.trending {
    width: 66.5%;
    margin: auto;
}

.trending__icon {
    i {
        border: 1px solid #000000;
        border-radius: 100%;
        padding: 2px;
    }
}